<h1>FOO</h1>

<h2>CHEESE {{this.cheese}}</h2>

<h2>BETA FEATURES {{this.beta}}</h2>

<h2>BACON {{this.bacon}}</h2>

<h2>HELPER CHEESE {{woop "cheese"}}</h2>

<h2>HELPER BETA {{woop "ops-beta-features"}}</h2>
