<LinkTo @route="user">Go to USER</LinkTo>

<br>
<br>

{{#let (get-code-snippet "as-cp-dependent-key.js") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

<span class="cheese">PRICE: £ {{this.price}}</span>

<br>
<br>

{{#let (get-code-snippet "as-cp-alias.js") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

PRICE: £ {{this.yetAnotherPrice}}

<br>
<br>

{{#let (get-code-snippet "as-variation-call.js") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

PRICE: £ {{this.anotherPrice}}

<br>
<br>

{{#let (get-code-snippet "as-if-template-helper.hbs") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

{{!-- BEGIN-SNIPPET as-if-template-helper --}}
{{#if (variation "apply-discount")}}
  PRICE: £ 99
{{else}}
  PRICE: £ 199
{{/if}}
{{!-- END-SNIPPET --}}

<br>
<br>

{{#let (get-code-snippet "as-with-template-helper.hbs") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

{{!--BEGIN-SNIPPET as-with-template-helper--}}
{{#with (variation "apply-discount") as |v|}}
  PRICE: £ 99 - {{v}}
{{else}}
  PRICE: £ 199
{{/with}}
{{!--END-SNIPPET--}}

<br>
<br>

{{#let (get-code-snippet "as-js-variation-helper.js") as |snippet|}}
  <CodeBlock @language={{snippet.language}}>
    {{snippet.source}}
  </CodeBlock>
{{/let}}

PRICE: £ {{this.foo}}
