<button type="button" class="toggle" {{on "click" "toggleVariation" "foobar"}}>TOGGLE</button>

<h1 class="flag-value">{{variation "foobar"}}</h1>

{{#if (variation "foobar")}}
  <h1 class="template-if-statement">BAR</h1>
{{else}}
  <h1 class="template-if-statement">FOO</h1>
{{/if}}

{{#with (variation "foobar") as |flag|}}
  {{#if flag}}
    <h1 class="template-with-statement">BAR - {{flag}}</h1>
  {{else}}
    <h1 class="template-with-statement">FOO - {{flag}}</h1>
  {{/if}}
{{/with}}

{{#let (variation "foobar") as |flag|}}
  {{#if flag}}
    <h1 class="template-let-statement">BAR</h1>
  {{else}}
    <h1 class="template-let-statement">FOO</h1>
  {{/if}}
{{/let}}

{{#if this.singleVariationComputed}}
  <h1 class="single-variation-computed">BAR</h1>
{{else}}
  <h1 class="single-variation-computed">FOO</h1>
{{/if}}

{{#if this.multipleVariationComputed}}
  <h1 class="multiple-variation-computed">BAR</h1>
{{else}}
  <h1 class="multiple-variation-computed">FOO</h1>
{{/if}}
